<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>Archetype Created Web Application</display-name>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>UserHome</web-resource-name>
            <url-pattern>/userHome.jsp</url-pattern>

            <web-resource-name>UserHome</web-resource-name>
            <url-pattern>/userhome</url-pattern>

        </web-resource-collection>

        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>registered-user</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/loginForm.jsp</form-login-page>
            <form-error-page>/failedLogin.jsp</form-error-page>
        </form-login-config>
    </login-config>



</web-app>
